<div fxLayout="row">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam.
  </div>
  
  <div fxLayout="row">
    <div fxFlex="33" fxFlex.xs="50">
        first-section
    </div>
    <div fxFlex="33" fxShow fxHide.xs="true">
        second-section
    </div>
    <div fxFlex="33" fxFlex.xs="50">
        third-section
    </div>
  </div>
  
  <p>
    <button color="primary" mat-button (click)="showDialog();">
      Dialog
    </button>
  </p>
  