<main [ngClass]="(isDarkTheme | async) ? 'dark-theme' : 'light-theme'">
  <mat-sidenav-container>
      <mat-sidenav #drawer class="sidenav" [fixedInViewport]="(isHandset$ | async)"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)" mode="side" opened role="region">

        <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2.5rem" class="card">
            <mat-card >
              <mat-card-header>
                <!-- <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Francisco Cruz</mat-card-title> -->
              </mat-card-header>
              <img mat-card-image src="../assets/img/fc.png" alt="Photo of Me" style='width: 5rem;' class="image">
              <mat-card-content>
                <app-side-nav></app-side-nav>
              </mat-card-content>
            </mat-card>
          </div>

      <!-- <app-side-nav></app-side-nav> -->

      </mat-sidenav>
      <mat-sidenav-content role="region" class="content-region">
        <mat-toolbar class="header">
          <button type="button" aria-label="Toggle side menu" mat-icon-button (click)="drawer.toggle()"
            *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side menu toggle icon">view_list</mat-icon>
          </button>
          <img alt="logo" src='../assets/img/logo.png' style='width: 3rem;'>
          <!-- <mat-form-field class="search">
            <i class="material-icons">search</i>
            <input matInput class="search">
          </mat-form-field> -->
          <span class="flex"></span>

          <app-main-nav></app-main-nav>

        </mat-toolbar>
        <mat-toolbar [ngClass]="(isHandset$ | async) ? 'content-title-mobile' : 'content-title'">
          <span>{{title}}</span>
        </mat-toolbar>
        <div class="component-content" fxLayout="column">
          <router-outlet></router-outlet>
        </div>
        <mat-toolbar class="footer">
          <span class="copyright">&copy; Copyright CruzFrancisco.Com 2019</span>
        </mat-toolbar>
      </mat-sidenav-content>
    </mat-sidenav-container>

</main>
